body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root{
  overflow-x: hidden;
}

.freshui-pageNation{
  width: 100% !important;
  margin-right: 12px;
}

.home-page-row,.form-page-travel{
  overflow-x: hidden;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}


.travel-title {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.travel-image {
  justify-content: center;
  display: flex;
}

.travel-image img {
  width: 30%;
  margin-bottom: 15px;
}

.travel-detaildescription {
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .travel-title h3 {
    font-size: 1.5rem;
  }
}
